* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    
    font-family: AOT-Regular;
}
.pc{
    display: block
}
.sp{
    display: none;
}
nav{
    .nav-layout{
        display: flex;
        justify-content: center;
        width: 100%;
        position: fixed;
        background-color: #222;
        box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.7);
        z-index: 1;
        ul{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            a{
              
            li{
                
                display: inline-block;
                color: #fff;
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                line-height: 20px;
                margin: 17px 32px;
                &:hover{
                    border-bottom: 1px solid #fe086e;
                    transition: all ease .5s;
                    color: #9a9a9a;
                }
                img{
                    width: 100%;
                    max-width: 100px;
                } 
                }
               
            }
        }
    }
    .menu-nav-layout {
        display: none;
    }
}
@media only screen and (max-width:800px){
    nav{
        .nav-layout{
            visibility: hidden;
        }
        .menu-layout{
        width: 100%;
        position: fixed;
        background-color: #222;
        box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.7);
        height: 50px;
        z-index: 2;
        
        .menu-btn{
            position: absolute;
            z-index: 2;
            right: 1rem;
            top: 1rem;
            height: 20px;
            width: 28px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            &__burger{
                position: absolute;
                right: 0;
                top: 0.5rem;
                height: 3px;
                 width: 28px;
                 background: #ffffff;
                transition: all 0.5s ease-in-out;
                &::before{
                    content: '';
                    position: absolute;
                    top: -8px;
                    height: 3px;
                     width: 28px;
                     background: #ffffff;
                     transition: all 0.5s ease-in-out;

                }
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    height: 3px;
                     width: 28px;
                     background: #ffffff;
                     transition: all 0.5s ease-in-out;

                }
                &.open{
                    transform: rotate(720deg);
                    background: transparent;
                    &::before{
                        transform: rotate(45deg) translate(5px,8px);
                    }
                    &::after{
                        width: 28px;
                        transform: rotate(-45deg) translate(3px,-7px);

                    }
                }
    
            }
        }
    }
        .menu-nav{
            .menu-nav-layout{
                visibility: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                position: fixed;
                background-color: #222;
                box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.7);
                z-index: 1;
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-items: center;
                    a{
                      
                    li{
                        
                        display: inline-block;
                        color: #fff;
                        font-size: 17px;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        line-height: 20px;
                        margin: 10px 32px;
                        &:hover{
                            border-bottom: 1px solid #fe086e;
                            transition: all ease .5s;
                            color: #9a9a9a;
                        }
                        img{
                            width: 100%;
                            max-width: 100px;
                        } 
                        }
                       
                    }
                }
                &.open{
                    visibility: visible;
                    height: 50vh;
                    z-index: 1;
                    }
            }
          
        }
    }
    
}
.header{
    background-image: url(../images/bg-cont.png), url(../images/header-bg01.jpg);
    display: flex;
    background-position: center;
    height: auto;
    justify-content: center;
    padding: 200px 0px;

    .main-logo{
       display: flex;
       justify-content: center;
       align-items: center;
   }
}
.header-2{
    background-image: url(../images/bg-cont.png), url(../images/header-2.jpg);
    display: flex;
    background-position: center;
    height: auto;
    justify-content: center;
    padding: 200px 0px;

    .main-logo{
       display: flex;
       justify-content: center;
       align-items: center;
   }
}
.header-3{
    background-image: url(../images/bg-cont.png), url(../images/header-3.jpg);
    display: flex;
    background-position: center;
    height: auto;
    justify-content: center;
    padding: 200px 0px;

    .main-logo{
       display: flex;
       justify-content: center;
       align-items: center;
   }
}


.about-ktv{
    background:#111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;
    padding: 100px 0px;
 .about-ktv-cont{
     width: 100%;
     max-width: 800px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     h2{
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 32px;
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto 30px;
        text-transform: uppercase;
    &::after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: -20px;
        display: inline-block;
        width: 60px;
        height: 2px;
        transform: translate(-50%);
        background-color: #fe086e;
        border-radius: 2px;
    }
    }
    p{
        text-align: center;
        padding: 15px 0px;
    }
}
}
.event-bg{
    background-image: url(../images/bg-home.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #ffffff;

    .event-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 100%;
        max-width: 800px;
        flex-wrap: wrap;
        padding: 100px 0px;

    h2{
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto 30px;
    text-transform: uppercase;
    &::after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: -20px;
        display: inline-block;
        width: 60px;
        height: 2px;
        transform: translate(-50%);
        background-color: #fe086e;
        border-radius: 2px;
    }
    }
    .event-cont{
        display: flex;
        padding: 15px 0;
        border-bottom: 1px solid #888;

        span{
            padding-right: 20px;
        }
    }
}
.insta-cont{
    width: 100%;
    max-width: 1200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:100px 0px;
    h2{
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 32px;
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto 30px;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20px;
            display: inline-block;
            width: 60px;
            height: 2px;
            transform: translate(-50%);
            background-color: #fe086e;
            border-radius: 2px;
        }
        }
        .insta-girl{
            display: flex;
            flex-wrap: wrap;
            img{
                padding:10px;
                width: 100%;
                max-width: 300px;
                
            }
        }
 .insta-btn{
     background-color: #359dff;
     padding: 5px;
     border-radius: 5px;
    &:hover{
        background-color: #408bd1;

    }
 }       
}
.cast-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding:100px 0px;
    h2{
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 32px;
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto 30px;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20px;
            display: inline-block;
            width: 60px;
            height: 2px;
            transform: translate(-50%);
            background-color: #fe086e;
            border-radius: 2px;
        }
        }
        .cast-cont{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img{
                padding:10px;
                width: 100%;
                max-width: 300px;
            }
            /*CAST LIST CSS*/
    .cast-bg{
            background-image: url(../images/cast-ex-bg.jpg);
            background-size: cover;
            background-position: center;
            height: auto;
            width: 100%;
            max-width: 350px;
            margin: 10px;

            img.cast-list-img{
                padding:0px;
                width: 100%;
                max-width:350px;
            }
            .cast-info-layout{
                padding:10px;
            .cast-info{
                display: flex;
                color: black;
                span{
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
        }
         }
        }
        /*End*/
        .cast-btn{
            display: inline-block;
            padding: 20px 60px;
            text-decoration: none;
            color: #fff;
            border: solid 1px #fff;
            border-radius: 3px;
            transition: .4s;
            margin-top: 3.0em;
            &:hover{
                background-color: #fe086e;
            }
        }
}
.fee-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    padding:100px 0px;
    h2{
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 32px;
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto 30px;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20px;
            display: inline-block;
            width: 60px;
            height: 2px;
            transform: translate(-50%);
            background-color: #fe086e;
            border-radius: 2px;
        }
        }
    .fee-cont{
        background:rgba(255, 255, 255, 0.9) ;
        border-radius: 5px;
        width: 100%;
        color: #222;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
        .price-list{
            display: flex;
            justify-content: space-around;
            width: 100%;
            max-width: 900px;
            flex-wrap: wrap;
            padding: 15px 0;
            border-bottom: 1px solid #ccc;
            span{
                width: 100%;
                max-width: 200px;
            }
            p{
                width: 100%;
                max-width: 100px;
            }
        }
        .price-btn{
            display: inline-block;
            padding: 20px 60px;
            text-decoration: none;
            color: #fe086e;
            border: solid 1px #fe086e;
            border-radius: 3px;
            transition: .4s;
            margin-top: 0em;
            margin: 50px 0px;
        }
    }
}
.twitter-sect{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    padding:100px 0px;
    h2{
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 32px;
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto 30px;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20px;
            display: inline-block;
            width: 60px;
            height: 2px;
            transform: translate(-50%);
            background-color: #fe086e;
            border-radius: 2px;
        }
        }
        .twitter-cont{
            border: 1px solid;
            max-width:1200px;
            width: 100%;
            height: 500px;
            background-color: #ccc;
        }
    }
}
footer{
    .contact-area{
        background-color: #222;
        display: flex;
        justify-content: space-around;
        padding: 100px 0px;
        flex-wrap: wrap;
        color: #ffffff;
    
    .line-sns-layout{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 600px;
    .official-line{
        padding:0px 0px 40px 0px;
        h2{
            position: relative;
            display: inline-block;
            text-align: center;
            font-size: 32px;
            color: #ffffff;
            font-weight: 700;
            letter-spacing: 1px;
            margin: 0 auto 30px;
            width: 100%;
            text-transform: uppercase;  
            &::after{
                content: '';
                position: absolute;
                left: 50%;
                bottom: -20px;
                display: inline-block;
                width: 60px;
                height: 2px;
                transform: translate(-50%);
                background-color: #fe086e;
                border-radius: 2px;
            }
            }
        }
            .sns-cont{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                h2{
                    position: relative;
                    display: inline-block;
                    text-align: center;
                    font-size: 32px;
                    color: #ffffff;
                    font-weight: 700;
                    letter-spacing: 1px;
                    margin: 0 auto 30px;
                    width: 100%;
                    text-transform: uppercase;  
                    &::after{
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: -20px;
                        display: inline-block;
                        width: 60px;
                        height: 2px;
                        transform: translate(-50%);
                        background-color: #fe086e;
                        border-radius: 2px;
                    }
                    }
                img{
                    padding: 20px;
                }
            }
        }
    }
    .bottom-footer{
        background-color: #222;
        padding: 35px 0 35px;
        border-top: 1px solid #fff;
        span{
            color: #cccccc;
            font-size: 14px;
            display: block;
            text-align: center;
        }
    }
}

/*ABOUT FEE PAGE*/
.header-about-fee{
    background-image: url(../images/price-bg.jpg);
    display: flex;
    justify-content: center;
    padding: 150px 0 10px;
    height: 500px;
    background-size: cover;
    background-position: center;
    align-items: center;

    .price-logo{
       display: flex;
       justify-content: center;
       align-items: center;
      img{
        width: 100%;
        max-width: 300px;
      }
   }
}
.about-cont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    padding-top: 50px;
    h2{
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 32px;
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto 30px;
        width: 100%;
        text-transform: uppercase;  
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20px;
            display: inline-block;
            width: 60px;
            height: 2px;
            transform: translate(-50%);
            background-color: #fe086e;
            border-radius: 2px;
        }
        }
        p{
            line-height: 1.8;
            margin: 15px 0;
            font-size: 15px;
            color: #fff;
        }
        .step-cont{
            display: flex;
            flex-direction: column;
            width: 100%;
        h3.step{
            font-size: 20px;
            font-weight: bold;
            color: #fe086e;
            margin: 30px 0 0px;
            text-transform: capitalize;
        }
        h3.step-info{
            font-size: 20px;
            border-left: 8px solid #fe086e;
            background: #fff;
            margin: 10px 0 20px;
            color: black;
            padding: 10px;
            font-weight: bold;
            text-transform: capitalize;
        }
        .line{
            width: 100%;
            max-width: 150px;
        }
        .qr-fee{
            width: 100%;
            max-width: 300px;
        }
    }
}
/*CAST LIST PAGE*/
.header-cast{
    background-image: url(../images/cast-bg.jpg);
    display: flex;
    justify-content: center;
    padding: 150px 0 10px;
    height: 500px;
    background-size: cover;
    background-position: center;
    align-items: center;

    .price-logo{
       display: flex;
       justify-content: center;
       align-items: center;
      img{
        width: 100%;
        max-width: 300px;
      }
   }
}
/*RECRUIT PAGE*/
.header-recruit{
    background-image: url(../images/recruit-bg.jpg);
    display: flex;
    justify-content: center;
    padding: 150px 0 10px;
    height: 500px;
    background-size: cover;
    background-position: center;
    align-items: center;

    .price-logo{
       display: flex;
       justify-content: center;
       align-items: center;
      img{
        width: 100%;
        max-width: 300px;
      }
   }
}
.recruit-sect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding:100px 0px;
    h2{
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 32px;
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto 30px;
        width: 100%;
        text-transform: uppercase;  
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20px;
            display: inline-block;
            width: 60px;
            height: 2px;
            transform: translate(-50%);
            background-color: #fe086e;
            border-radius: 2px;
        }
        }
}
/*NEWS PAGE*/
.header-news{
    background-image: url(../images/news-bg.jpg);
    display: flex;
    justify-content: center;
    padding: 150px 0 10px;
    height: 500px;
    background-size: cover;
    background-position: center;
    align-items: center;

    .price-logo{
       display: flex;
       justify-content: center;
       align-items: center;
      img{
        width: 100%;
        max-width: 300px;
      }
   }
}
/*CONTACT PAGE*/
.header-contact{
    background-image: url(../images/contact-bg.jpg);
    display: flex;
    justify-content: center;
    padding: 150px 0 10px;
    height: 500px;
    background-size: cover;
    background-position: center;
    align-items: center;

    .price-logo{
       display: flex;
       justify-content: center;
       align-items: center;
      img{
        width: 100%;
        max-width: 300px;
      }
   }
}
.contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    padding:100px 0px;
    flex-direction: column;
    h2{
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 32px;
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto 30px;
        width: 100%;
        text-transform: uppercase;  
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20px;
            display: inline-block;
            width: 60px;
            height: 2px;
            transform: translate(-50%);
            background-color: #fe086e;
            border-radius: 2px;
        }
        }
        p{
            line-height: 1.8;
            margin: 15px 0;
            font-size: 15px;
            color: #fff;
            text-align: center;
        }
        img.qr-contact{
            width: 100%;
            max-width: 300px;
            padding:50px 0px;
        }
        img.line-contact{
            width: 100%;
            max-width: 150px;
        }
    }